
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Noto+Serif+JP:wght@700&display=swap');
/* font-family: 'Noto Sans JP', sans-serif; */
/* font-family: 'Noto Serif JP', serif; */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Noto Sans JP" , "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}
.text-info {
  color: #09444D !important;
}


.Step h2{
  margin: 1.8em 0 1em 0;
  font-size: 1.75rem;
}
.Step pre{
  background-color: #000;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FFF;
}
