
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Noto+Serif+JP:wght@700&display=swap');
/* font-family: 'Noto Sans JP', sans-serif; */
/* font-family: 'Noto Serif JP', serif; */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Noto Sans JP" , "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}
.text-info {
  color: #664960 !important;
}

.Step h1{
  position: relative;
}
.Step .Bgimg,
.Blog .Bgimg,
.Shopify .Bgimg,
.React .Bgimg,
.Press .Bgimg{
  position: absolute;
  top:-50px;
  right: 30px;
  z-index: -1;
}
.StepPost strong{
  font-weight: normal;
  color: #dc3545 !important
}

ul.Boxlink{
  margin: 0;
  padding:0;
  list-style-type:none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul.Boxlink li{
  width: 32%;
  margin-bottom: 20px;
}
@media only screen and (max-width:800px) {
  ul.Boxlink li{
    width: 48%;
  }
}
ul.Boxlink::after {
  content: "";
  display: block;
  width: 30%;
  height: 0;
}
@media only screen and (max-width:800px) {
  ul.Boxlink::after {
    display: none;
  }
}
